$fundo: #fff;
$texto: #1d4646;

$corA0: #8AD18A;	// Main Primary color */
$corA1: #CCECCC;
$corA2: #ACDFAC;
$corA3: #66BD66;
$corA4: #45A545;

$corB0: #6BA3A3;	// Main Secondary color (1) */
$corB1: #BCD9D9;
$corB2: #93C0C0;
$corB3: #4D8E8E;
$corB4: #347C7C;

$corC0: #D4F09E;	// Main Secondary color (2) */
$corC1: #EEF9D7;
$corC2: #E2F4BC;
$corC3: #BBDD77;
$corC4: #9BC150;

QDialog, QMainWindow {
  background-color: $corA1;
}

QPushButton {
  background-color: $corB2;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QTextEdit{
  background-color: $corC1;
}

QComboBox{
  background-color: $corC1;
  selection-color: #000;
  selection-background-color: $corB2;
}

QStackedWidget {
  background-color: $corA2;
}

QTreeWidget {
  background-color: $corC1;
  alternate-background-color: $corC2;
}

QScrollBar:vertical {              
        border: 1px solid #999999;
        background:white;
        width:10px;    
        margin: 0px 0px 0px 0px;
    }
    QScrollBar::handle:vertical {
        background: $corA0;
        min-height: 0px;
    }
    QScrollBar::add-line:vertical {
        background: $corA0;
        height: 0px;
        subcontrol-position: bottom;
        subcontrol-origin: margin;
    }
    QScrollBar::sub-line:vertical {
        background: $corA0;
        height: 0 px;
        subcontrol-position: top;
        subcontrol-origin: margin;
    }